In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv')

In [4]:
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,7,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520
8,9,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040
9,10,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000

In [6]:
# without Parameter 
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv')
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94

In [ ]:
# Using Separate like ,\| etc 
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv',sep='*')
df.head(2)

In [9]:
# using nrows
# Limit the no. of rows to import 
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv',nrows=6)
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600

In [10]:
#Removing the Header 
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv',header=None)
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
1,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96

In [11]:
# Change the names of the header Columns 
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv',header=None,names=['Row_id','Order_id','Order_dt'])
df.head(2)

,,,,,,,,,,,,,,,Row_id,Order_id,Order_dt
Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96

In [12]:
# Specifying column name in a Seperate Object 
col_name = ['Row_id','Order_id','Order_dt']
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv',header=None,names=col_name)
df.head(2)

,,,,,,,,,,,,,,,Row_id,Order_id,Order_dt
Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96

In [14]:
  # Make the location variable 
loc = "D:/Machine Learning Dataset/SuperStore Sala/train.csv"
df = pd.read_csv(loc)
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94

# Describing a Dataset

In [16]:
df = pd.read_csv('D:/Machine Learning Dataset/SuperStore Sala/train.csv')
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [17]:
df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [19]:
#return a summary of all the columns in a DataFrame, including both numerical and categorical columns.
df.describe(include='all')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
count,9800.000000,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9789.000000,9800,9800,9800,9800,9800,9800.000000
unique,NaN,4922,1230,1326,4,793,793,3,1,529,49,NaN,4,1861,3,17,1849,NaN
top,NaN,CA-2018-100111,05/09/2017,26/09/2018,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,NaN,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,NaN
freq,NaN,14,38,34,5859,35,35,5101,9800,891,1946,NaN,3140,19,5909,1492,47,NaN
mean,4900.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55273.322403,NaN,NaN,NaN,NaN,NaN,230.769059
std,2829.160653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32041.223413,NaN,NaN,NaN,NaN,NaN,626.651875
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000
25%,2450.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23223.000000,NaN,NaN,NaN,NaN,NaN,17.248000
50%,4900.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58103.000000,NaN,NaN,NaN,NaN,NaN,54.490000
75%,7350.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90008.000000,NaN,NaN,NaN,NaN,NaN,210.605000
max,9800.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000

In [20]:
df.describe(include=['object'])

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800
unique,4922,1230,1326,4,793,793,3,1,529,49,4,1861,3,17,1849
top,CA-2018-100111,05/09/2017,26/09/2018,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,34,5859,35,35,5101,9800,891,1946,3140,19,5909,1492,47

In [21]:
df.describe(include=['object','float'])

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
count,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9789.000000,9800,9800,9800,9800,9800,9800.000000
unique,4922,1230,1326,4,793,793,3,1,529,49,NaN,4,1861,3,17,1849,NaN
top,CA-2018-100111,05/09/2017,26/09/2018,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,NaN,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,NaN
freq,14,38,34,5859,35,35,5101,9800,891,1946,NaN,3140,19,5909,1492,47,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55273.322403,NaN,NaN,NaN,NaN,NaN,230.769059
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32041.223413,NaN,NaN,NaN,NaN,NaN,626.651875
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23223.000000,NaN,NaN,NaN,NaN,NaN,17.248000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58103.000000,NaN,NaN,NaN,NaN,NaN,54.490000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90008.000000,NaN,NaN,NaN,NaN,NaN,210.605000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000

In [22]:
# Describing a specific type of values 
df[df['Sales']==9800].describe()

       Row ID  Postal Code  Sales
count     0.0          0.0    0.0
mean      NaN          NaN    NaN
std       NaN          NaN    NaN
min       NaN          NaN    NaN
25%       NaN          NaN    NaN
50%       NaN          NaN    NaN
75%       NaN          NaN    NaN
max       NaN          NaN    NaN

# Sorting Values of Pandas DataFrame

In [23]:
 df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62

In [24]:
#Sorting Ascending 
df.Sales.sort_values()

4101        0.444
9292        0.556
8658        0.836
4711        0.852
2106        0.876
          ...
4190    10499.970
2623    11199.968
8153    13999.960
6826    17499.950
2697    22638.480
Name: Sales, Length: 9800, dtype: float64

In [25]:
# Sorting Descending & Choosing only top 5 values 
df.Sales.sort_values(ascending=False).head(5)

2697    22638.480
6826    17499.950
8153    13999.960
2623    11199.968
4190    10499.970
Name: Sales, dtype: float64

In [27]:
# Sorting Coln that has space 
df['Order Date'].sort_values().head(15)

4009    01/01/2018
6682    01/01/2018
8069    01/01/2018
8070    01/01/2018
8071    01/01/2018
8073    01/01/2018
8074    01/01/2018
8075    01/01/2018
848     01/01/2018
8072    01/01/2018
540     01/02/2015
3241    01/02/2017
8403    01/02/2017
157     01/03/2015
8309    01/03/2015
Name: Order Date, dtype: object

In [29]:
# Sorting the entire Dataframe
df.sort_values('Sales').head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
4101,4102,US-2018-102288,19/06/2018,23/06/2018,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Houston,Texas,77095.0,Central,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444
9292,9293,CA-2018-124114,02/03/2018,02/03/2018,Same Day,RS-19765,Roland Schwarz,Corporate,United States,Waco,Texas,76706.0,Central,OFF-BI-10004022,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556
8658,8659,CA-2017-168361,21/06/2017,25/06/2017,Standard Class,KB-16600,Ken Brennan,Corporate,United States,Chicago,Illinois,60623.0,Central,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836
4711,4712,CA-2015-112403,31/03/2015,31/03/2015,Same Day,JO-15280,Jas O'Carroll,Consumer,United States,Philadelphia,Pennsylvania,19120.0,East,OFF-BI-10003529,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852
2106,2107,US-2015-152723,26/09/2015,26/09/2015,Same Day,HG-14965,Henry Goldwyn,Corporate,United States,Mesquite,Texas,75150.0,Central,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,0.876

In [30]:
# Sorting by multiple Value 
df.sort_values(['Sales','Row ID'],ascending=False).head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2697,2698,CA-2015-145317,18/03/2015,23/03/2015,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,Florida,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480
6826,6827,CA-2017-118689,02/10/2017,09/10/2017,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,Indiana,47905.0,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950
8153,8154,CA-2018-140151,23/03/2018,25/03/2018,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115.0,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960
2623,2624,CA-2018-127180,22/10/2018,24/10/2018,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,10024.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968
4190,4191,CA-2018-166709,17/11/2018,22/11/2018,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,Delaware,19711.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970

# Applying FIlter to a Dataframe

In [31]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [33]:
# Filtering Numeric Date 
df[df.Sales>=8500].head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2623,2624,CA-2018-127180,22/10/2018,24/10/2018,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,10024.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968
2697,2698,CA-2015-145317,18/03/2015,23/03/2015,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,Florida,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480
4098,4099,CA-2015-116904,23/09/2015,28/09/2015,Standard Class,SC-20095,Sanjit Chand,Consumer,United States,Minneapolis,Minnesota,55407.0,Central,OFF-BI-10001120,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,9449.950
4190,4191,CA-2018-166709,17/11/2018,22/11/2018,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,Delaware,19711.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970
4277,4278,US-2017-107440,16/04/2017,20/04/2017,Standard Class,BS-11365,Bill Shonely,Corporate,United States,Lakewood,New Jersey,8701.0,East,TEC-MA-10001047,Technology,Machines,"3D Systems Cube Printer, 2nd Generation, Magenta",9099.930

In [35]:
# Filtering Character Data 
df[df['Ship Mode']!= 'First Class'].head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [ ]:
#Filtering with Multiple Criteria  like &,!,|

In [36]:
# Using isin to shorten the OR condition 
df[df['Ship Mode'].isin(['First Class','Second Class'])]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620
17,18,CA-2015-167164,13/05/2015,15/05/2015,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,Utah,84084.0,West,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.500
18,19,CA-2015-143336,27/08/2015,01/09/2015,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109.0,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9784,9785,CA-2016-149748,31/05/2016,02/06/2016,Second Class,EM-13825,Elizabeth Moffitt,Corporate,United States,Paterson,New Jersey,7501.0,East,FUR-FU-10001847,Furniture,Furnishings,Eldon Image Series Black Desk Accessories,8.280
9791,9792,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,OFF-EN-10003134,Office Supplies,Envelopes,Staple envelope,56.064
9792,9793,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10003396,Furniture,Chairs,Global Deluxe Steno Chair,107.772
9793,9794,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,OFF-PA-10001560,Office Supplies,Paper,"Adams Telephone Message Books, 5 1/4” x 11”",4.832
9794,9795,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,OFF-BI-10000977,Office Supplies,Binders,Ibico Plastic Spiral Binding Combs,18.240

# Deleting rows and columns from a Dataframe

In [37]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [38]:
# using drop  
df.drop('Row ID',axis=1,inplace=True)
df.head(2)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94

In [53]:
# Dropping using index values
df.drop(index=df.index[2],axis=1)
df.head(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800

In [54]:
from pandas import DataFrame

In [55]:
df.head(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800

In [57]:
#Lets review all the column present in Dataset
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales'],
      dtype='object')

In [59]:
# lets create a subset of dataset 
df1 = DataFrame(df,columns=['Country', 'City', 'State', 'Postal Code'])
df1

            Country             City       State  Postal Code
2     United States      Los Angeles  California      90036.0
3     United States  Fort Lauderdale     Florida      33311.0
4     United States  Fort Lauderdale     Florida      33311.0
5     United States      Los Angeles  California      90032.0
6     United States      Los Angeles  California      90032.0
...             ...              ...         ...          ...
9795  United States          Chicago    Illinois      60610.0
9796  United States           Toledo        Ohio      43615.0
9797  United States           Toledo        Ohio      43615.0
9798  United States           Toledo        Ohio      43615.0
9799  United States           Toledo        Ohio      43615.0

[9798 rows x 4 columns]

In [61]:
# Getting Individual Column
df['Order ID']

2       CA-2017-138688
3       US-2016-108966
4       US-2016-108966
5       CA-2015-115812
6       CA-2015-115812
             ...
9795    CA-2017-125920
9796    CA-2016-128608
9797    CA-2016-128608
9798    CA-2016-128608
9799    CA-2016-128608
Name: Order ID, Length: 9798, dtype: object

In [63]:
# Selection with dot notation
df.Sales

2        14.6200
3       957.5775
4        22.3680
5        48.8600
6         7.2800
          ...
9795      3.7980
9796     10.3680
9797    235.1880
9798     26.3760
9799     10.3840
Name: Sales, Length: 9798, dtype: float64

In [ ]:
# removing columns
del df['Region']
df.head(2)

# Working with Series

In [66]:
from pandas import Series

In [67]:
ser= Series([4,5,6,3,2,1,7,8,9])
ser

0    4
1    5
2    6
3    3
4    2
5    1
6    7
7    8
8    9
dtype: int64

In [68]:
ser.index

RangeIndex(start=0, stop=9, step=1)

In [69]:
ser[1]

5

In [70]:
ser[6]

7

# Loading HTML Data

In [71]:
 !pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [72]:
from pandas import read_html
import html5lib

In [73]:
url = "https://www.moneycontrol.com/mutual-funds/performance-tracker/investment-returns/large-cap-fund.html"

In [75]:
r_list = pd.io.html.read_html(url)
r_list

[                                          Scheme Name Crisil Rank  AuM (Cr)  \
 0   Nippon India Large Cap Fund - Direct Plan - Gr...           5  15583.03
 1   Nippon India Large Cap Fund - Growth Large Cap...           5  15583.03
 2   HDFC Top 100 Fund - Direct Plan - Growth Large...           5  25775.56
 3   Edelweiss Large Cap Fund - Direct Plan - Growt...           5    530.52
 4           HDFC Top 100 Fund - Growth Large Cap Fund           5  25775.56
 ..                                                ...         ...       ...
 57      LIC MF Large Cap Fund - Growth Large Cap Fund           1   1368.11
 58  Axis Bluechip Fund - Direct Plan - Growth Larg...           1  33891.89
 59  Taurus Largecap Equity Fund - Direct Plan - Gr...           1     35.36
 60  Taurus Largecap Equity Fund - Growth Large Cap...           1     35.36
 61         Axis Bluechip Fund - Growth Large Cap Fund           1  33891.89

          1W      1M      3M      6M     YTD      1Y       2Y       3Y  \
 0   1002.30  1001.0  1096.2  1201.5  1170.1  1218.0  1390.60  2030.80
 1   1002.10  1000.3  1094.0  1196.8  1163.9  1207.9  1367.40  1981.10
 2    999.20   995.4  1080.2  1157.1  1126.3  1173.7  1325.60  1892.00
 3   1001.10   989.7  1071.4  1150.4  1123.9  1168.4  1224.30  1767.90
 4    999.10   994.9  1078.7  1153.9  1122.0  1166.8  1310.00  1859.00
 ..      ...     ...     ...     ...     ...     ...      ...      ...
 57   999.60   985.6  1043.5  1101.7  1049.7  1062.5  1083.90  1544.10
 58  1002.10   979.9  1040.5  1099.9  1051.5  1047.1  1038.40  1501.40
 59   996.00  1002.3  1041.8  1170.6  1047.0  1038.7  1134.50  1554.20
 60   995.90  1002.2  1041.5  1170.2  1046.4  1037.8  1132.50  1550.20
 61  1002.00   979.2  1038.2  1095.0  1045.1  1037.0  1016.70  1452.60

          5Y      10Y
 0   1929.90  5753.30
 1   1849.20  5265.70
 2   1792.10  4814.60
 3   1795.60  4698.90
 4   1740.00  4518.70
 ..      ...      ...
 57  1569.40  3592.70
 58  1661.90  4453.80
 59  1462.30  3382.40
 60  1449.60  3207.70
 61  1567.90  3968.70

 [62 rows x 13 columns]]

In [77]:
df2 = r_list[0]
df2

,Scheme Name,Crisil Rank,AuM (Cr),1W,1M,3M,6M,YTD,1Y,2Y,3Y,5Y,10Y
0,Nippon India Large Cap Fund - Direct Plan - Gr...,5,15583.03,1002.30,1001.0,1096.2,1201.5,1170.1,1218.0,1390.60,2030.80,1929.90,5753.30
1,Nippon India Large Cap Fund - Growth Large Cap...,5,15583.03,1002.10,1000.3,1094.0,1196.8,1163.9,1207.9,1367.40,1981.10,1849.20,5265.70
2,HDFC Top 100 Fund - Direct Plan - Growth Large...,5,25775.56,999.20,995.4,1080.2,1157.1,1126.3,1173.7,1325.60,1892.00,1792.10,4814.60
3,Edelweiss Large Cap Fund - Direct Plan - Growt...,5,530.52,1001.10,989.7,1071.4,1150.4,1123.9,1168.4,1224.30,1767.90,1795.60,4698.90
4,HDFC Top 100 Fund - Growth Large Cap Fund,5,25775.56,999.10,994.9,1078.7,1153.9,1122.0,1166.8,1310.00,1859.00,1740.00,4518.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,LIC MF Large Cap Fund - Growth Large Cap Fund,1,1368.11,999.60,985.6,1043.5,1101.7,1049.7,1062.5,1083.90,1544.10,1569.40,3592.70
58,Axis Bluechip Fund - Direct Plan - Growth Larg...,1,33891.89,1002.10,979.9,1040.5,1099.9,1051.5,1047.1,1038.40,1501.40,1661.90,4453.80
59,Taurus Largecap Equity Fund - Direct Plan - Gr...,1,35.36,996.00,1002.3,1041.8,1170.6,1047.0,1038.7,1134.50,1554.20,1462.30,3382.40
60,Taurus Largecap Equity Fund - Growth Large Cap...,1,35.36,995.90,1002.2,1041.5,1170.2,1046.4,1037.8,1132.50,1550.20,1449.60,3207.70
61,Axis Bluechip Fund - Growth Large Cap Fund,1,33891.89,1002.00,979.2,1038.2,1095.0,1045.1,1037.0,1016.70,1452.60,1567.90,3968.70

# Grouping data using group by clause

In [78]:
df.head(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800

In [79]:
df.groupby('Category').Sales.sum()

Category
Furniture          727664.6757
Office Supplies    705422.3340
Technology         827455.8730
Name: Sales, dtype: float64

In [80]:
df.groupby('Category').Sales.mean()

Category
Furniture          350.512850
Office Supplies    119.381001
Technology         456.401474
Name: Sales, dtype: float64

In [81]:
df.groupby('Category').Sales.max()

Category
Furniture           4416.174
Office Supplies     9892.740
Technology         22638.480
Name: Sales, dtype: float64

# String Opertions with pandas series

In [82]:
df.head(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800

In [83]:
# Asking Unique 
df['Country'].unique()

array(['United States'], dtype=object)

In [84]:
df['City'].unique()

array(['Los Angeles', 'Fort Lauderdale', 'Concord', 'Seattle',
       'Fort Worth', 'Madison', 'West Jordan', 'San Francisco', 'Fremont',
       'Philadelphia', 'Orem', 'Houston', 'Richardson', 'Naperville',
       'Melbourne', 'Eagan', 'Westland', 'Dover', 'New Albany',
       'New York City', 'Troy', 'Chicago', 'Gilbert', 'Springfield',
       'Jackson', 'Memphis', 'Decatur', 'Durham', 'Columbia', 'Rochester',
       'Minneapolis', 'Portland', 'Saint Paul', 'Aurora', 'Charlotte',
       'Orland Park', 'Urbandale', 'Columbus', 'Bristol', 'Wilmington',
       'Bloomington', 'Phoenix', 'Roseville', 'Independence', 'Pasadena',
       'Newark', 'Franklin', 'Scottsdale', 'San Jose', 'Edmond',
       'Carlsbad', 'San Antonio', 'Monroe', 'Fairfield', 'Grand Prairie',
       'Redlands', 'Hamilton', 'Westfield', 'Akron', 'Denver', 'Dallas',
       'Whittier', 'Saginaw', 'Medina', 'Dublin', 'Detroit', 'Tampa',
       'Santa Clara', 'Lakeville', 'San Diego', 'Brentwood',
       'Chapel Hill', 'Morristown', 'Cincinnati', 'Inglewood', 'Tamarac',
       'Colorado Springs', 'Belleville', 'Taylor', 'Lakewood',
       'Arlington', 'Arvada', 'Hackensack', 'Saint Petersburg',
       'Long Beach', 'Hesperia', 'Murfreesboro', 'Layton', 'Austin',
       'Lowell', 'Manchester', 'Harlingen', 'Tucson', 'Quincy',
       'Pembroke Pines', 'Des Moines', 'Peoria', 'Las Vegas', 'Warwick',
       'Miami', 'Huntington Beach', 'Richmond', 'Louisville', 'Lawrence',
       'Canton', 'New Rochelle', 'Gastonia', 'Jacksonville', 'Auburn',
       'Norman', 'Park Ridge', 'Amarillo', 'Lindenhurst', 'Huntsville',
       'Fayetteville', 'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone',
       'Great Falls', 'Lakeland', 'Montgomery', 'Mesa', 'Henderson',
       'Green Bay', 'Anaheim', 'Marysville', 'Salem', 'Laredo',
       'Grove City', 'Dearborn', 'Warner Robins', 'Vallejo',
       'Mission Viejo', 'Rochester Hills', 'Plainfield', 'Sierra Vista',
       'Vancouver', 'Cleveland', 'Tyler', 'Burlington', 'Waynesboro',
       'Chester', 'Cary', 'Palm Coast', 'Mount Vernon', 'Hialeah',
       'Oceanside', 'Evanston', 'Trenton', 'Cottage Grove',
       'Bossier City', 'Lancaster', 'Asheville', 'Lake Elsinore', 'Omaha',
       'Edmonds', 'Santa Ana', 'Milwaukee', 'Florence', 'Lorain',
       'Linden', 'Salinas', 'New Brunswick', 'Garland', 'Norwich',
       'Alexandria', 'Toledo', 'Farmington', 'Riverside', 'Torrance',
       'Round Rock', 'Boca Raton', 'Virginia Beach', 'Murrieta',
       'Olympia', 'Washington', 'Jefferson City', 'Saint Peters',
       'Rockford', 'Brownsville', 'Yonkers', 'Oakland', 'Clinton',
       'Encinitas', 'Roswell', 'Jonesboro', 'Antioch', 'Homestead',
       'La Porte', 'Lansing', 'Cuyahoga Falls', 'Reno', 'Harrisonburg',
       'Escondido', 'Royal Oak', 'Rockville', 'Coral Springs', 'Buffalo',
       'Boynton Beach', 'Gulfport', 'Fresno', 'Greenville', 'Macon',
       'Cedar Rapids', 'Providence', 'Pueblo', 'Deltona', 'Murray',
       'Middletown', 'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove',
       'Smyrna', 'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland',
       'Glendale', 'Niagara Falls', 'Thomasville', 'Westminster',
       'Coppell', 'Pomona', 'North Las Vegas', 'Allentown', 'Tempe',
       'Laguna Niguel', 'Bridgeton', 'Everett', 'Watertown', 'Appleton',
       'Bellevue', 'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent',
       'Lafayette', 'Tigard', 'Skokie', 'Plano', 'Suffolk',
       'Indianapolis', 'Bayonne', 'Greensboro', 'Baltimore', 'Kenosha',
       'Olathe', 'Tulsa', 'Redmond', 'Raleigh', 'Muskogee', 'Meriden',
       'Bowling Green', 'South Bend', 'Spokane', 'Keller', 'Port Orange',
       'Medford', 'Charlottesville', 'Missoula', 'Apopka', 'Reading',
       'Broomfield', 'Paterson', 'Oklahoma City', 'Chesapeake', 'Lubbock',
       'Johnson City', 'San Bernardino', 'Leominster', 'Bozeman',
       'Perth Amboy', 'Ontario', 'Rancho Cucamonga', 'Moorhead',
       'Mesquite', 'Stockton', 'Ormond Beach', 'Sunnyvale', 'York',
       'College Station', 'Saint Louis', 'Manteca', 'San Angelo',
       'Salt Lake City', 'Knoxville', 'Little Rock', 'Lincoln Park',
       'Marion', 'Littleton', 'Bangor', 'Southaven', 'New Castle',
       'Midland', 'Sioux Falls', 'Fort Collins', 'Clarksville',
       'Sacramento', 'Thousand Oaks', 'Malden', 'Holyoke', 'Albuquerque',
       'Sparks', 'Coachella', 'Elmhurst', 'Passaic', 'North Charleston',
       'Newport News', 'Jamestown', 'Mishawaka', 'La Quinta',
       'Tallahassee', 'Nashville', 'Bellingham', 'Woodstock',
       'Haltom City', 'Wheeling', 'Summerville', 'Hot Springs',
       'Englewood', 'Las Cruces', 'Hoover', 'Frisco', 'Vacaville',
       'Waukesha', 'Bakersfield', 'Pompano Beach', 'Corpus Christi',
       'Redondo Beach', 'Orlando', 'Orange', 'Lake Charles',
       'Highland Park', 'Hempstead', 'Noblesville', 'Apple Valley',
       'Mount Pleasant', 'Sterling Heights', 'Eau Claire', 'Pharr',
       'Billings', 'Gresham', 'Chattanooga', 'Meridian', 'Bolingbrook',
       'Maple Grove', 'Woodland', 'Missouri City', 'Pearland',
       'San Mateo', 'Grand Rapids', 'Visalia', 'Overland Park',
       'Temecula', 'Yucaipa', 'Revere', 'Conroe', 'Tinley Park',
       'Dubuque', 'Dearborn Heights', 'Santa Fe', 'Hickory',
       'Carol Stream', 'Saint Cloud', 'North Miami', 'Plantation',
       'Port Saint Lucie', 'Rock Hill', 'Odessa', 'West Allis',
       'Chula Vista', 'Manhattan', 'Altoona', 'Thornton', 'Champaign',
       'Texarkana', 'Edinburg', 'Baytown', 'Greenwood', 'Woonsocket',
       'Superior', 'Bedford', 'Covington', 'Broken Arrow', 'Miramar',
       'Hollywood', 'Deer Park', 'Wichita', 'Mcallen', 'Iowa City',
       'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights', 'The Colony',
       'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo', 'Elkhart',
       'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor', 'Lawton',
       'Hampton', 'Rome', 'La Crosse', 'Lewiston', 'Hattiesburg',
       'Danville', 'Logan', 'Waterbury', 'Athens', 'Avondale', 'Marietta',
       'Yuma', 'Wausau', 'Pasco', 'Oak Park', 'Pensacola', 'League City',
       'Gaithersburg', 'Lehi', 'Tuscaloosa', 'Moreno Valley',
       'Georgetown', 'Loveland', 'Chandler', 'Helena', 'Kirkwood', 'Waco',
       'Frankfort', 'Bethlehem', 'Grand Island', 'Woodbury', 'Rogers',
       'Clovis', 'Jupiter', 'Santa Barbara', 'Cedar Hill', 'Norfolk',
       'Draper', 'Ann Arbor', 'La Mesa', 'Pocatello', 'Holland',
       'Milford', 'Buffalo Grove', 'Lake Forest', 'Redding', 'Chico',
       'Utica', 'Conway', 'Cheyenne', 'Owensboro', 'Caldwell', 'Kenner',
       'Nashua', 'Bartlett', 'Redwood City', 'Lebanon', 'Santa Maria',
       'Des Plaines', 'Longview', 'Hendersonville', 'Waterloo',
       'Cambridge', 'Palatine', 'Beverly', 'Eugene', 'Oxnard', 'Renton',
       'Glenview', 'Delray Beach', 'Commerce City', 'Texas City',
       'Wilson', 'Rio Rancho', 'Goldsboro', 'Montebello', 'El Cajon',
       'Beaumont', 'West Palm Beach', 'Abilene', 'Normal',
       'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank', 'Modesto',
       'Garden City', 'Atlantic City', 'Longmont', 'Davis', 'Morgan Hill',
       'Clifton', 'Sheboygan', 'East Point', 'Rapid City', 'Andover',
       'Kissimmee', 'Shelton', 'Danbury', 'Sanford', 'San Marcos',
       'Greeley', 'Mansfield', 'Elyria', 'Twin Falls', 'Coral Gables',
       'Romeoville', 'Marlborough', 'Laurel', 'Bryan', 'Pine Bluff',
       'Aberdeen', 'Hagerstown', 'East Orange', 'Arlington Heights',
       'Oswego', 'Coon Rapids', 'San Clemente', 'San Luis Obispo',
       'Springdale'], dtype=object)

In [85]:
# asking number of unique values
df['City'].nunique()

529

In [88]:
# Upper case
df['Ship Mode'].str.upper()

2         SECOND CLASS
3       STANDARD CLASS
4       STANDARD CLASS
5       STANDARD CLASS
6       STANDARD CLASS
             ...
9795    STANDARD CLASS
9796    STANDARD CLASS
9797    STANDARD CLASS
9798    STANDARD CLASS
9799    STANDARD CLASS
Name: Ship Mode, Length: 9798, dtype: object

In [89]:
df['Ship Mode'].str.lower()

2         second class
3       standard class
4       standard class
5       standard class
6       standard class
             ...
9795    standard class
9796    standard class
9797    standard class
9798    standard class
9799    standard class
Name: Ship Mode, Length: 9798, dtype: object

In [90]:
# First letter in Upper case and remaining in Lower case
df['Ship Mode'].str.title().head(3)

2      Second Class
3    Standard Class
4    Standard Class
Name: Ship Mode, dtype: object

In [92]:
# length of character 
df['Ship Mode'].str.len().head(5)

2    12
3    14
4    14
5    14
6    14
Name: Ship Mode, dtype: int64

In [95]:
#check whether all characters in a string are titlecase.
df['Ship Mode'].str.istitle().head(5)

2    True
3    True
4    True
5    True
6    True
Name: Ship Mode, dtype: bool

In [97]:
#check whether a string contains a substring.
df['Ship Mode'].str.contains('Second Classs').head()

2    False
3    False
4    False
5    False
6    False
Name: Ship Mode, dtype: bool

# Pivot table in python pandas

In [99]:
import numpy as np

In [100]:
df.head(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800

In [104]:
# creating the pivot tables
pd.pivot_table(df,'Sales',['Ship Mode','Category'],aggfunc=np.std)

                                      Sales
Ship Mode      Category
First Class    Furniture         454.990505
               Office Supplies   310.664522
               Technology       1197.158005
Same Day       Furniture         435.755946
               Office Supplies   178.162014
               Technology       1059.067873
Second Class   Furniture         582.532237
               Office Supplies   471.674312
               Technology        710.311748
Standard Class Furniture         490.069219
               Office Supplies   382.653921
               Technology       1207.583881

In [106]:
# in table format

pd.pivot_table(df,'Sales',index=['Ship Mode'],columns=['Category'],aggfunc=np.mean,)

Category         Furniture  Office Supplies  Technology
Ship Mode
First Class     341.946708       110.866179  466.686091
Same Day        331.563636        89.073142  590.968093
Second Class    368.116355       138.223576  393.320123
Standard Class  348.645908       118.277753  462.570071

# How to Change rows and columns display option

In [107]:
df.head(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800

In [109]:
df.shape

(9798, 16)

In [110]:
# This function show only 60 rows 
pd.get_option('display.max_rows')

60

In [111]:
# This function show only 20 columns 
pd.get_option('display.max_columns')

20

# How to identify and drop null values

In [112]:
# check the Null vales in dataset and total count 
df.isnull().sum()

Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [113]:
# Checking particular null value in columns 
df[df['Postal Code'].isnull()]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2234,CA-2018-104066,05/12/2018,10/12/2018,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03
5274,CA-2016-162887,07/11/2016,09/11/2016,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,Vermont,NaN,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20
8798,US-2017-150140,06/04/2017,10/04/2017,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,Vermont,NaN,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75
9146,US-2017-165505,23/01/2017,27/01/2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98
9147,US-2017-165505,23/01/2017,27/01/2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04
9148,US-2017-165505,23/01/2017,27/01/2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29
9386,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92
9387,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28
9388,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94
9389,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04
9741,CA-2016-117086,08/11/2016,12/11/2016,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90

In [116]:
# check whether a value is not null.
df['Postal Code'].notnull()

2       True
3       True
4       True
5       True
6       True
        ...
9795    True
9796    True
9797    True
9798    True
9799    True
Name: Postal Code, Length: 9798, dtype: bool

In [119]:
#used to remove missing values from a DataFrame. 
df.dropna()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [120]:
# using parameter of Dropna like how , inplace , subset  etc 
df.dropna(how='any').shape

(9787, 16)

In [121]:
df.dropna(how='all').shape

(9798, 16)

# Filling up the NA Values

In [124]:
# fill missing values in a DataFrame
# ffill - Forward 
# bffill - backward 
df.fillna(method='ffill')

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [125]:
df.interpolate()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
5,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

# Date Functions and Properties

In [126]:
df.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code      float64
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
dtype: object

In [ ]:
#extract the day of the year from a date or datetime object
df['Order Date'].dt.dayofyear.head()

In [ ]:
#returns the name of the weekday
df['Order Date'].dt.weekday_name()

In [ ]:
# returns the week number of the year 
df['Order Date'].dt.weekofyear()

In [ ]:
# returns the day of the week
df['Order Date'].dt.dayofweek()

In [ ]:
#returns the year
df['Order Date'].dt.year()

In [ ]:
# returns the Month
df['Order Date'].dt.month()

# Identifying and removing duplicate rows

In [129]:
# identify duplicate values in a Series or DataFrame.
df.duplicated().sum()

1

In [130]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales'],
      dtype='object')

In [131]:
df['Product Name'].duplicated().sum()

7949

# Aligning two different series and data frames

In [132]:
from pandas import Series,DataFrame

In [135]:
ser1 = Series([0,1,2,3,4,5,6,7,8,9],index=['A','B','C','D','E','F','G','H','I','J'])
ser1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [136]:
ser2 = Series([0,2,4,6,8,10,12,14,16,18],index=['K','L','M','N','E','O','P','H','Q0','J'])
ser2

K      0
L      2
M      4
N      6
E      8
O     10
P     12
H     14
Q0    16
J     18
dtype: int64

In [137]:
# Only matching Data display
ser1 + ser2

A      NaN
B      NaN
C      NaN
D      NaN
E     12.0
F      NaN
G      NaN
H     21.0
I      NaN
J     27.0
K      NaN
L      NaN
M      NaN
N      NaN
O      NaN
P      NaN
Q0     NaN
dtype: float64

# Ranking

In [139]:
#
df.rank()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales
2,4525.0,3713.5,4869.0,2989.5,2863.0,2441.0,6576.0,4899.5,4262.5,1317.5,7596.5,5291.0,5031.0,5961.0,7539.0,2075.5
3,8492.5,3496.0,5638.5,6869.0,8685.0,8458.0,2550.0,4899.5,2320.0,2841.0,3273.0,1770.5,1038.5,9641.5,1924.5,9306.0
4,8492.5,3496.0,5638.5,6869.0,8685.0,8458.0,2550.0,4899.5,2320.0,2841.0,3273.0,7145.0,5031.0,8884.5,2970.0,3018.0
5,394.0,2720.5,4213.5,6869.0,1042.5,1347.5,2550.0,4899.5,4262.5,1317.5,7485.0,1095.0,1038.5,5317.0,2959.0,4710.5
6,394.0,2720.5,4213.5,6869.0,1042.5,1347.5,2550.0,4899.5,4262.5,1317.5,7485.0,2963.5,5031.0,1608.0,6009.5,888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,4146.0,6638.0,8772.0,6869.0,8513.5,8129.5,6576.0,4899.5,947.5,3467.0,5079.5,4317.0,5031.0,2746.5,2118.0,328.0
9796,2398.5,3626.0,5086.0,6869.0,2133.5,1961.5,6576.0,4899.5,9420.0,6634.5,4054.0,2725.5,5031.0,1608.0,1499.5,1394.0
9797,2398.5,3626.0,5086.0,6869.0,2133.5,1961.5,6576.0,4899.5,9420.0,6634.5,4054.0,9794.0,8892.0,8030.5,3862.0,7503.0
9798,2398.5,3626.0,5086.0,6869.0,2133.5,1961.5,6576.0,4899.5,9420.0,6634.5,4054.0,9052.5,8892.0,8030.5,808.5,3382.0
9799,2398.5,3626.0,5086.0,6869.0,2133.5,1961.5,6576.0,4899.5,9420.0,6634.5,4054.0,8050.5,8892.0,378.5,7397.5,1413.0

In [141]:
df['Sales'].rank(ascending=False)

2       7723.5
3        493.0
4       6781.0
5       5088.5
6       8911.0
         ...
9795    9471.0
9796    8405.0
9797    2296.0
9798    6417.0
9799    8386.0
Name: Sales, Length: 9798, dtype: float64

# Importing JSON Data

In [142]:
import json

In [143]:
jdata = """
{
        "Country ":"India",
        "Products":["MObiles","Home Appliances","Cars"],
        "Locations":"Pune",
        "Contact ": null,
        "Payment" : ["Cash","Credit Card","Upi"]
        
}
"""

In [145]:
dat1 = json.loads(jdata)
dat1

{'Country ': 'India',
 'Products': ['MObiles', 'Home Appliances', 'Cars'],
 'Locations': 'Pune',
 'Contact ': None,
 'Payment': ['Cash', 'Credit Card', 'Upi']}

In [146]:
dat1['Payment']

['Cash', 'Credit Card', 'Upi']

In [148]:
jdf = pd.DataFrame(dat1)
jdf

  Country          Products Locations Contact       Payment
0    India          MObiles      Pune     None         Cash
1    India  Home Appliances      Pune     None  Credit Card
2    India             Cars      Pune     None          Upi

# Time Series Analysis

In [149]:
dates = ['2015-03-23','Mar 07 ,2018','2012.02.25','2021/02/21','20210405']
dates

['2015-03-23', 'Mar 07 ,2018', '2012.02.25', '2021/02/21', '20210405']

In [150]:
# converting in datetime format 
pd.to_datetime(dates)

DatetimeIndex(['2015-03-23', '2018-03-07', '2012-02-25', '2021-02-21',
               '2021-04-05'],
              dtype='datetime64[ns]', freq=None)

In [151]:
# Converting datetime in time
datet = ['2015-03-23 2:30:00 PM','Mar 07 ,2018 14:30:00','2012.02.25','2021/02/21','20210405']
datet

['2015-03-23 2:30:00 PM',
 'Mar 07 ,2018 14:30:00',
 '2012.02.25',
 '2021/02/21',
 '20210405']